<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BigHippo\StoreLocator\Api\Data\StoreLocatorInterface" type="BigHippo\StoreLocator\Model\StoreLocator"/>
    <preference for="BigHippo\StoreLocator\Api\Data\StoreLocatorSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="BigHippo\StoreLocator\Api\StoreLocatorRepositoryInterface" type="BigHippo\StoreLocator\Model\StoreLocatorRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_listing_data_source" xsi:type="string">BigHippo\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="BigHippo\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">bighippo_store_locator</argument>
            <argument name="eventPrefix" xsi:type="string">bighippo_storelocator_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">bighippo_storelocator_collection</argument>
            <argument name="resourceModel" xsi:type="string">BigHippo\StoreLocator\Model\ResourceModel\StoreLocator</argument>
        </arguments>
    </type>
</config>
