<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="algolia_store_after_save">
        <observer name="validateAlgoliaStoresIndex" instance="BigHippo\StoreLocator\Observer\ValidateAlgoliaStoresIndex"/>
    </event>
</config>
