<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BigHippo_StoreLocator::storelocator"
             title="Store Locator" translate="title"
             module="BigHippo_StoreLocator"
             sortOrder="100"
             parent="Magento_Backend::content_elements"
             action="storelocator/store/index"
             resource="BigHippo_StoreLocator::storelocator"/>
    </menu>
</config>
